In [3]:
import pandas as pd
import numpy as np
import gzip
import math
import matplotlib.pyplot as plt
import seaborn as sns
import string
from collections import defaultdict
import regex as re
from dateutil.parser import parse

In [4]:
from fashionEDA import fashionCleaner

In [5]:
fc = fashionCleaner()

Scrapping Data, Null Entry: 1
Scrapping Data, Null Entry: 2
Scrapping Data, Null Entry: 3
Scrapping Data, Null Entry: 4
Scrapping Data, Null Entry: 5
Scrapping Data, Null Entry: 6
Scrapping Data, Null Entry: 7
Scrapping Data, Null Entry: 8
Scrapping Data, Null Entry: 9
Scrapping Data, Null Entry: 10
Scrapping Data, Null Entry: 11
Scrapping Data, Null Entry: 12
Scrapping Data, Null Entry: 13
Scrapping Data, Null Entry: 14
Scrapping Data, Null Entry: 15
Scrapping Data, Null Entry: 16
Scrapping Data, Null Entry: 17
Scrapping Data, Null Entry: 18
Scrapping Data, Null Entry: 19
Scrapping Data, Null Entry: 20
Scrapping Data, Null Entry: 21
Scrapping Data, Null Entry: 22
Scrapping Data, Null Entry: 23
Scrapping Data, Null Entry: 24
Scrapping Data, Null Entry: 25
Scrapping Data, Null Entry: 26
Scrapping Data, Null Entry: 27
Scrapping Data, Null Entry: 28
Scrapping Data, Null Entry: 29
Scrapping Data, Null Entry: 30
Scrapping Data, Null Entry: 31
Scrapping Data, Null Entry: 32
Scrapping Data, Null Entry: 33
Scrapping Data, Null Entry: 34
Scrapping Data, Null Entry: 35
Scrapping Data, Null Entry: 36
Scrapping Data, Null Entry: 37
Scrapping Data, Null Entry: 38
Scrapping Data, Null Entry: 39
Scrapping Data, Null Entry: 40
Scrapping Data, Null Entry: 41
Scrapping Data, Null Entry: 42
Scrapping Data, Null Entry: 43
Scrapping Data, Null Entry: 44
Scrapping Data, Null Entry: 45
Scrapping Data, Null Entry: 46
Scrapping Data, Null Entry: 47
Scrapping Data, Null Entry: 48
Scrapping Data, Null Entry: 49
Scrapping Data, Null Entry: 50
Scrapping Data, Null Entry: 51
Scrapping Data, Null Entry: 52
Scrapping Data, Null Entry: 53
Scrapping Data, Null Entry: 54
Scrapping Data, Null Entry: 55
Scrapping Data, Null Entry: 56
Scrapping Data, Null Entry: 57
Scrapping Data, Null Entry: 58
Scrapping Data, Null Entry: 59
Scrapping Data, Null Entry: 60
Scrapping Data, Null Entry: 61
Scrapping Data, Null Entry: 62
Scrapping Data, Null Entry: 63
Scrapping Data, Null Entry: 64
Scrapping Data, Null Entry: 65
Scrapping Data, Null Entry: 66
Scrapping Data, Null Entry: 67
Scrapping Data, Null Entry: 68
Scrapping Data, Null Entry: 69
Scrapping Data, Null Entry: 70
Scrapping Data, Null Entry: 71
Scrapping Data, Null Entry: 72
Scrapping Data, Null Entry: 73
Scrapping Data, Null Entry: 74
Scrapping Data, Null Entry: 75
Scrapping Data, Null Entry: 76
Scrapping Data, Null Entry: 77
Scrapping Data, Null Entry: 78
Scrapping Data, Null Entry: 79
Scrapping Data, Null Entry: 80
Scrapping Data, Null Entry: 81
Scrapping Data, Null Entry: 82

In [6]:
fashion_df = fc.getData()
fashion_df.head()

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date,bust,cup
0,fit,420272,34d,2260466,137,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,68,14,28,2016-04-20,34,d
1,fit,273551,34b,153475,132,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,66,12,36,2013-06-18,34,b
2,fit,909926,34c,126335,135,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,65,8,34,2014-02-12,34,c
3,fit,151944,34b,616682,145,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,69,12,27,2016-09-26,34,b
4,fit,734848,32b,364092,138,8,date,Didn't actually wear it. It fit perfectly. The...,athletic,Traditional with a touch a sass,dress,68,8,45,2016-04-30,32,b

In [8]:
#tf-idf
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics import classification_report, precision_recall_fscore_support

In [22]:
words = " ".join(list(fashion_df['review_text'].values))

In [24]:
words = words.split()

In [ ]:
vectorizer = CountVectorizer(analyzer='word',
                        max_features=2000,
                        tokenizer=word_tokenize,
                        stop_words=stopwords.words('english'))